@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  font-family: 'Work Sans', sans-serif;
  background: #fff;
  margin: 0;
}

h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 54px;
  color: #0a1932;
  margin: 0 0 10px 0;
}

h2 {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #3fdac2;
  margin: 0;
}

h3 {
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 2px;
  color: #3fdac2;
  margin: 0 0 20px 0;
}

h4 {
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 1px;
  color: #0a1932;
  margin: 0;
  padding-top: 20px;
}

p {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.5px;
  line-height: 24px;
  color: #0a1932;
  margin-top: 20px;
}

a {
  color: inherit;
}

a:hover {
  color: #3fdac2;
  text-decoration: none;
}

.btn-line {
  background-color: transparent;
  border-color: #0a1932;
  border-radius: 2px;
  color: #0a1932;
  font-size: 12px;
  letter-spacing: 1px;
  margin-right: 10px;
}

.btn-line:hover {
  border-color: #ed3b89;
  color: #ed3b89;
}

.bgimg {
  height: 100vh;
  background-image: url(../images/bg_0723.png);
  background-size: cover;
  background-position: bottom;
  margin: 0;
  position: fixed;
}

.bio-pic {
  height: 120px;
  margin: 0 20px 0 0;
}

.fa {
  color: #0a1932;
  margin: 0 5px;
}

.fa:hover {
  color: #ed3b89;
}

.h3-centered {
  margin-top: 20px;
  text-align: center;
  color: #3fdac2;
}

.link-group {
  margin: 40px 0 0 -2px;
}

.main-cover {
  display: flex;
  width: 40vw;
  padding-left: 5vw;
  position: absolute;
  top: 30%;
}

.intro {
  margin: -50px 90px 50px 90px;
}

.projects-container {
  float: right;
  margin: 0;
  padding: 0;
}

.project-box {
  height: 320px;
  padding: 50px 60px 60px 60px;
  margin-top: 0;
}

.project-page-link a:hover {
  color: #fff;
}

.section {
  padding: 50px;
}

.about {
  background-color: #0a1932;
  background-image: url(../images/about_hexagons.png);
  background-position: top right;
  background-repeat: no-repeat;
  background-size: 120px;
  color: #fff;
  padding-top: 60px;
}

.about-copy {
  color: #fff;
  font-size: 22px;
  font-weight: 200;
  line-height: 30px;
  margin: 0 30px 30px 0;
  letter-spacing: normal;
}

.skills-ul {
  font-size: 15px;
  font-weight: 200;
  line-height: 22px;
  list-style-type: none;
  padding: 0 0 20px 0;
  height: 120px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.projects {
  padding-top: 0;
}

.project-details {
  width: 20vw;
}

.project-links {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: normal;
}

.project-links a {
  color: #fff;
}

.project-links a:hover {
  color: #0a1932;
  text-decoration: none;
}

.project-techs {
  color: #0a1932;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 5px;
  width: 20vw;
}

.p-bg-img {
  background-position-x: 50vw;
  background-position-y: bottom;
  background-repeat: no-repeat;
  background-size: 260px;
  transition: all 0.7s ease-in-out;
}

.p-travelbox {
  background-color: #4dcf87;
  background-image: url(../images/main_travelbox_bg_02.png);
}

.p-travelbox:hover {
  background-position: bottom right;
}

.p-duckcloud {
  background-color: #e6dc65;
  background-image: url(../images/main_duckcloud_bg_02.png);
}

.p-duckcloud:hover {
  background-position: bottom right;
}

.p-tictactoe {
  background-color: #31c2ab;
  background-image: url(../images/main_tictactoe_bg_02.png);
}

.p-tictactoe:hover {
  background-position: bottom right;
}

.p-atlantic {
  background-color: #73bef2;
  background-image: url(../images/main_atlantic_bg.png);
}

.p-atlantic:hover {
  background-position: bottom right;
}

.p-wyders {
  background-color: #acdf83;
  background-image: url(../images/main_wyders_bg.png);
}

.p-wyders:hover {
  background-position: bottom right;
}

.p-fun {
  background-color: #535250;
  background-image: url(../images/main_shiba_bg.png);
  background-size: 320px;
}

.p-fun:hover {
  background-position: bottom right;
}

.p-fun p {
  color: #fff;
}

.p-fun h4 {
  color: #fff;
}

.sidebar {
  background-image: url(../images/sidebar_bg.png);
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100vh;
  padding: 0 30px;
  position: fixed;
}

.sidebar-title {
  font-size: 16px;
  font-weight: 700;
}

.sidebar-links {
  color: #31c2ab;
}

.sidebar-links a {
  color: #31c2ab;
}

.sidebar-links a:hover {
  color: #0a1932;
}

.project-page {
  float: right;
  min-height: 100vh;
  text-align: center;
  padding: 60px 0 0 0;
}

.project-page-image {
  width: 55vw;
  display: inline-block;
  margin: 0 0 60px 0;
  box-shadow: 0 5px 15px #4a49498a;
}

.project-page-illus {
  width: 100%;
  display: inline-block;
  margin: 0;
  padding: 20px;
}

.c-travelbox {
  background-color: #4dcf87;
}

.c-tictactoe {
  background-color: #85dcce;
}

.c-duckcloud {
  background-color: #e6dc65;
}

.c-atlantic {
  background-color: #73bef2;
}

.c-wyders {
  background-color: #acdf83;
}

.c-illustration {
  background-color: #f1f1f1;
  min-height: -webkit-fill-available;
  padding-top: 0;
}

.b-illustration {
  background-color: #f1f1f1;
}

.s-illustration {
  background-color: #fff;
}

@media screen and (max-width: 992px) {
  .about-copy {
    margin-right: 100px;
  }

  .bgimg {
    /* background-image: url(../images/bg_0723_mobile.png); */
    background-position: bottom;
    width: 100vw;
    height: 80vh;
    position: relative;
  }

  .main-cover {
    width: 70vw;
    padding-left: 45px;
    top: 30%;
  }

  .sidebar {
    background-image: none;
    height: auto;
    margin: 0 0 60px 0;
    position: relative;
  }

  .p-bg-img {
    background-position: bottom right;
  }

  .project-page-image {
    width: 85vw;
  }

  .project-details {
    width: 60vw;
  }

  .project-techs {
    width: auto;
  }
}

@media screen and (max-width: 768px) {
  .project-box {
    padding: 20px 35px 35px 35px;
    height: 280px;
  }

  .about {
    padding-right: 5px;
  }

  .about-copy {
    margin-top: 10px;
  }

  .bgimg {
    background-position: bottom;
    height: 80vh;
  }

  .p-bg-img {
    background-size: 40vw;
  }

  .bio-pic {
    height: 100px;
    margin-bottom: 20px;
  }

  .link-group {
    margin-top: 20px;
  }

  .main-cover {
    display: block;
    padding-left: 20px;
    top: 10%;
  }

  .project-page {
    float: none;
  }

  .project-details {
    width: 80vw;
  }

  .project-techs {
    width: 60vw;
  }

  .skills-ul {
    height: 150px;
  }

  .p-fun {
    background-size: 280px;
  }

  .sidebar-title-p {
    margin-top: 0;
    padding-top: 20px;
  }

  .s-illustration {
    padding-bottom: 40px;
    margin-bottom: 20px;
  }
}
