@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  font-family: 'Work Sans', sans-serif;
  background: #fff;
  margin: 0;
}

h1 {
  font-weight: 700;
  font-size: 60px;
  line-height: 54px;
  color: #0a1932;
  margin: 0 0 10px 0;
}

h2 {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #3fdac2;
  margin: 0;
}

h3 {
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 2px;
  color: #3fdac2;
  margin: 0 0 20px 0;
}

h4 {
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 1px;
  color: #0a1932;
  margin: 0;
  padding-top: 20px;
}

p {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.5px;
  line-height: 24px;
  color: #0a1932;
  margin-top: 20px;
}

.btn-line {
  background-color: transparent;
  border-color: #0a1932;
  border-radius: 2px;
  color: #0a1932;
  font-size: 12px;
  letter-spacing: 1px;
  margin-right: 10px;
}

.btn-line:hover {
  border-color: #ed3b89;
  color: #ed3b89;
}

.bgimg {
  height: 100vh;
  background-image: url(../images/bg_0723.png);
  background-size: cover;
  background-position: bottom;
  margin: 0;
  position: fixed;
}

.fa {
  color: #0a1932;
  margin: 0 5px;
}

.fa:hover {
  color: #ed3b89;
}

.h3-centered {
  margin-top: 20px;
  text-align: center;
  color: #3fdac2;
}

.link-group {
  margin: 50px 0 0 -2px;
}

.main-cover {
  width: 30vw;
  padding-left: 5vw;
  position: absolute;
  top: 30%;
}

.intro {
  margin: -50px 90px 50px 90px;
}

.projects-container {
  float: right;
  margin: 0;
  padding: 0;
}

.project-box {
  height: 320px;
  padding: 60px 60px 60px 60px;
  margin-top: 0;
}

.section {
  padding: 50px;
}

.about {
  background-color: #0a1932;
  color: #fff;
}

.about-copy {
  color: #fff;
  font-size: 22px;
  font-weight: 200;
  line-height: 30px;
  margin: 0 0 30px 0;
}

.skills-ul {
  font-size: 15px;
  font-weight: 200;
  line-height: 22px;
  list-style-type: none;
  padding: 0 0 20px 0;
  height: 120px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.projects {
  padding-top: 0;
}

.project-body {
  color: #fff;
  margin-top: 10px;
}

.project-links {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: normal;
}

.project-links a {
  color: #fff;
}

.project-links a:hover {
  color: #0a1932;
  text-decoration: none;
}

.project-techs {
  color: #0a1932;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 5px;
}

.p-travelbox {
  background-color: #4dcf87;
}

.p-duckcloud {
  background-color: #e6dc65;
}

.p-tictactoe {
  background-color: #31c2ab;
}

@media screen and (max-width: 992px) {
  .bgimg {
    background-image: url(../images/bg_0723_mobile.png);
    background-position: bottom;
    width: 100vw;
    height: 50vh;
    position: relative;
  }

  .main-cover {
    width: 70vw;
    padding-left: 45px;
    top: 30%;
  }
}

@media screen and (max-width: 768px) {
  .bgimg {
    background-position: bottom;
  }
}
